*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background: #000814;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', monospace;
  color: #00ccff;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}
